.header {
  border: 2px solid orange;
  font-family: Arial;
  font-size: 24px;
}

.pro-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.row {
  display: block;
  flex-direction: row;
  width: 100%;
  table-layout: auto;
  border-spacing: 10px;
  overflow: scroll;
}

.price {
  color: gray;
  font-size: 22px;
}

.pro-card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}